{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <title>Your Vision Now - Kiosk</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800" style="padding: 10px;">
                        <a href="/">
                            <img src="{% static 'img/VisionNow_kiosk_size.png' %}"
                                 alt="Your Vision Now - Kiosk"
                             />
                        </a>
                    </h1>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header">
                                    <table width="100%">
                                        <tr>
                                            <td style="text-align:right;">
                                                {% if user.is_authenticated %}
                                                    <form style="float:right; padding-left: 1em;" action="/accounts/logout/" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-google btn-sm">
                                                            Log out, {{ user.first_name }}
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form style="float:right; padding-left: 1em;" action="/accounts/google/login/" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-google btn-sm">
                                                            <i class="fab fa-google fa-fw"></i> Log In
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                <form style="float:right; padding-left: 1em;" action="/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="start_over" value="true">
                                                    <button type="submit" class="btn btn-secondary btn-sm">
                                                        Start Over
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="card_body_content_wrapper_name">
                                        <table width="100%" height="100%">
                                            <form class="user">
                                                <div class="form-group">
                                                    <input type="email" class="form-control form-control-user"
                                                        id="first_name" aria-describedby="firstNameHelp"
                                                        placeholder="Enter your first name">
                                                </div>
                                            </form>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if request.session.keys %}
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Your selections</h6>
                                    </div>

                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div id="card_body_content_wrapper">
                                            <table width="100%" height="100%">
                                                {% if request.session.keys %}
                                                    <tr>
                                                        <th>Lens Types</th>
                                                    </tr>
                                                    {% for lens_type in lens_types %}
                                                        {% if lens_type.name in request.session %}
                                                            <tr>
                                                                <td style="padding-bottom:1em">
                                                                    {{ lens_type.name }}
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <span style="color:green">{{ lens_type.default_price }}</span>
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <form action="/" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="no_{{ lens_type.name }}" value="true">
                                                                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if request.session.keys %}
                                                    <tr>
                                                        <th>Lens Materials</th>
                                                    </tr>
                                                    {% for lens_material in lens_materials %}
                                                        {% if lens_material.name in request.session %}
                                                            <tr>
                                                                <td style="padding-bottom:1em">
                                                                    {{ lens_material.name }}
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <span style="color:green">{{ lens_material.default_price }}</span>
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <form action="/" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="no_{{ lens_material.name }}" value="true">
                                                                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if request.session.keys %}
                                                    <tr>
                                                        <th>Lens Add-Ons</th>
                                                    </tr>
                                                    {% for lens_add_on in lens_add_ons %}
                                                        {% if lens_add_on.name in request.session %}
                                                            <tr>
                                                                <td style="padding-bottom:1em">
                                                                    {{ lens_add_on.name }}
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <span style="color:green">{{ lens_add_on.default_price }}</span>
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <form action="/" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="no_{{ lens_add_on.name }}" value="true">
                                                                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if request.session.keys %}
                                                    <tr>
                                                        <th>Lens Packages</th>
                                                    </tr>
                                                    {% for lens_package in lens_packages %}
                                                        {% if lens_package.name in request.session %}
                                                            <tr>
                                                                <td style="padding-bottom:1em">
                                                                    {{ lens_package.name }}
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <span style="color:green">{{ lens_package.default_price }}</span>
                                                                </td>
                                                                <td style="padding-bottom:1em">
                                                                    <form action="/" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="no_{{ lens_package.name }}" value="true">
                                                                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </table>
                                            {% if request.session.keys %}
                                                <form style="float:right; padding-left: 1em;" action="/" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="send_to_front" value="true">
                                                    <button type="submit" class="btn btn-success btn-sm">
                                                        I'm Done!
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">Customize your glasses</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="
                                        {% if 'lens_single_vision' in request.session or 'lens_bifocal' in request.session or 'lens_trifocal' in request.session or 'lens_progressive' in request.session %}
                                            width: 30%;
                                        {% else %}
                                            width: 0%;
                                        {% endif %}
                                        " aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <row>
                                        <table>
                                            {% if lens_types %}
                                                <tr>
                                                    <td>
                                                        <div style="float:left; display:block">
                                                            <h2>Lens Types</h2>
                                                            {% for lens_type in lens_types %}
                                                                <div style="float: left; padding-top: 1em; padding-right:1em;">
                                                                    <h4>{{ lens_type.name }}</h4>
                                                                    <form action="/" method="POST" style="padding-right:1em;">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="{{ lens_type.name }}" value="true">
                                                                        {% if lens_type.uploaded_img %}
                                                                            <input type="image" src="{{ lens_type.uploaded_img.url }}" alt="{{ lens_type.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% elif lens_type.static_img_url %}
                                                                            <input type="image" src="{% static 'img/'|add:lens_type.static_img_url %}" alt="{{ lens_type.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% else %}
                                                                            <input type="image" src="" alt="Lens Type" style="max-height: 167px; max-width:300px;" />
                                                                        {% endif %}
                                                                    </form>
                                                                    <p>{{ lens_type.description }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if lens_materials %}
                                                <tr>
                                                    <td>
                                                        <div style="float:left; display:block">
                                                            <h2>Lens Materials</h2>
                                                            {% for lens_material in lens_materials %}
                                                                <div style="float: left; padding-top: 1em; padding-right:1em;">
                                                                    <h4>{{ lens_material.name }}</h4>
                                                                    <form action="/" method="POST" style="padding-right:1em;">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="{{ lens_material.name }}" value="true">
                                                                        {% if lens_material.uploaded_img %}
                                                                            <input type="image" src="{{ lens_material.uploaded_img.url }}" alt="{{ lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% elif lens_material.static_img_url %}
                                                                            <input type="image" src="{% static 'img/'|add:lens_material.static_img_url %}" alt="{{ lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% else %}
                                                                            <input type="image" src="" alt="Lens Material" style="max-height: 167px; max-width:300px;" />
                                                                        {% endif %}
                                                                    </form>
                                                                    <p>{{ lens_material.description }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if lens_add_ons %}
                                                <tr>
                                                    <td>
                                                        <div style="float:left; display:block">
                                                            <h2>Lens Add-Ons</h2>
                                                            {% for lens_add_on in lens_add_ons %}
                                                                <div style="float: left; padding-top: 1em; padding-right:1em;">
                                                                    <h4>{{ lens_add_on.name }}</h4>
                                                                    <form action="/" method="POST" style="padding-right:1em;">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="{{ lens_add_on.name }}" value="true">
                                                                        {% if lens_add_on.uploaded_img %}
                                                                            <input type="image" src="{{ lens_add_on.uploaded_img.url }}" alt="{{ lens_add_on.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% elif lens_add_on.static_img_url %}
                                                                            <input type="image" src="{% static 'img/'|add:lens_add_on.static_img_url %}" alt="{{ lens_add_on.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% else %}
                                                                            <input type="image" src="" alt="Lens Add-On" style="max-height: 167px; max-width:300px;" />
                                                                        {% endif %}
                                                                    </form>
                                                                    <p>{{ lens_add_on.description }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if lens_packages %}
                                                <tr>
                                                    <td>
                                                        <div style="float:left; display:block">
                                                            <h2>Lens Packages</h2>
                                                            {% for lens_package in lens_package %}
                                                                <div style="float: left; padding-top: 1em; padding-right:1em;">
                                                                    <h4>{{ lens_package.name }}</h4>
                                                                    <form action="/" method="POST" style="padding-right:1em;">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="{{ lens_package.name }}" value="true">
                                                                        {% if lens_package.uploaded_img %}
                                                                            <input type="image" src="{{ lens_package.uploaded_img.url }}" alt="{{ lens_package.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% elif lens_package.static_img_url %}
                                                                            <input type="image" src="{% static 'img/'|add:lens_type.static_img_url %}" alt="{{ lens_package.name }}" style="max-height: 167px; max-width:300px;" />
                                                                        {% else %}
                                                                            <input type="image" src="" alt="Lens Package" style="max-height: 167px; max-width:300px;" />
                                                                        {% endif %}
                                                                    </form>
                                                                    <p>{{ lens_package.description }}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </row>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Vision Now 2021 </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>

</body>

</html>