{% load static %}
{% block pagecontent %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Lens Packages</h1>
        </div>
        {% if orders %}
            <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lens Packages</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Promo Price</th>
                                        <th>Retail Price</th>
                                        <th>Last Created/Updated</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Promo Price</th>
                                        <th>Retail Price</th>
                                        <th>Last Created/Updated</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for lens_package in lens_packages %}
                                        <tr>
                                            <td>
                                                {% if lens_package.name %}
                                                    {{ lens_package.name }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if lens_package.description %}
                                                    {{ lens_package.description }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if lens_package.promo_price %}
                                                    {{ lens_package.promo_price }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if lens_package.retail_price %}
                                                    {{ lens_package.retail_price }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if lens_package.updated_at %}
                                                    {{ lens_package.updated_at }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        {% else %}
            <h3>No Lens Packages</h3>
        {% endif %}

    </div>
    <!-- /.container-fluid -->

{% endblock %}