{% load static %}
<tr>
    <th>Lens Materials</th>
</tr>
{% for lens_material in lens_materials %}
    {% if lens_material.name in request.session %}
        <tr>
            <td style="padding-bottom:1em; font-size:1.5em; color:black;">
                {{ lens_material.name }}
            </td>
            <td style="padding-bottom:1em; font-size:1.5em;">
                {% if user_selection_prices.lens_material or user_selection_prices.lens_material == 0.00 %}
                    <span class="selection_price" style="color:green">{% if user_selection_prices.lens_material == 0.00 %}INCLUDED{% else %}${{ user_selection_prices.lens_material }}{% endif %}</span>
                {% else %}
                    <span class="selection_price" style="color:green">{% if lens_material.retail_price == 0.00 %}INCLUDED{% else %}${{ lens_material.retail_price }}{% endif %}</span>
                {% endif %}
            </td>
            <td style="padding-bottom:1em; font-size:1.5em;">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no_{{ lens_material.name }}" value="true">
                    <button type="submit" class="btn close" aria-label="remove"><span style="font-size:2em;">&times;</span></button>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}