{% load static %}
<tr>
    <th>Lens Materials</th>
</tr>
{% for lens_material in lens_materials %}
    {% if lens_material.name in request.session %}
        <tr>
            <td style="padding-bottom:1em">
                {{ lens_material.name }}
            </td>
            <td style="padding-bottom:1em">
                {% if user_selection_prices %}
                    <span style="color:green">{% if user_selection_prices.lens_material == 0.00 %}INCLUDED{% else %}${{ user_selection_prices.lens_material }}{% endif %}</span>
                {% else %}
                    <span style="color:green">{% if lens_material.retail_price == 0.00 %}INCLUDED{% else %}${{ lens_material.retail_price }}{% endif %}</span>
                {% endif %}
            </td>
            <td style="padding-bottom:1em">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no_{{ lens_material.name }}" value="true">
                    <button type="submit" class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}