{% load static %}
{% if lens_materials %}
    {% if lens_material_choices %}
        {% if lens_material_choices|length > 0 %}
            <div class="container-fluid">
                <div class="row">
                    <h2>Lens Materials</h2>
                </div>
                <div class="row">
                    {% for item in lens_material_choices %}
                        {% if item.lens_material %}
                            {% if item.lens_material.name not in request.session %}
                                <div style="float: left; width: 300px; padding-top:1em; padding-bottom:1em; padding-right:1em;">
                                    <div style="color:gray; font-size: 1.4em;">{{ item.lens_material.name }}</div>
                                    {% if item.lens_material_retail_price or item.lens_material_retail_price == 0.00 %}
                                        <div style="color:green; font-size: 1.4em;">{% if item.lens_material_retail_price == 0.00 %}INCLUDED{% else %}${{ item.lens_material_retail_price }}{% endif %}</div>
                                    {% else %}
                                        <div style="color:green; font-size: 1.4em;">{% if item.lens_material.retail_price == 0.00 %}INCLUDED{% else %}${{ item.lens_material.retail_price }}{% endif %}</div>
                                    {% endif %}
                                    <form action="/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="{{ item.lens_material.name }}" value="true">
                                        {% if item.lens_material.uploaded_img %}
                                            <input type="image" src="{{ item.lens_material.uploaded_img.url }}" alt="{{ item.lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                        {% elif item.lens_material.static_img_url %}
                                            <input type="image" src="{% static 'img/'|add:item.lens_material.static_img_url %}" alt="{{ item.lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                        {% else %}
                                            <input type="image" src="" alt="Lens Material" style="max-height: 167px; max-width:300px;" />
                                        {% endif %}
                                    </form>
                                    <div>{{ item.lens_material.description }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>
                Select Add-Ons
            </p>
        {% endif %}
    {% else %}
        <div>
            {% include 'includes/no_further_choices.html' %}
        </div>
    {% endif %}
{% else %}
    <div>
        <p>No Lens Materials available</p>
    </div>
{% endif %}