{% load static %}
<tr>
    <th>Lens Types</th>
</tr>
{% for lens_type in lens_types %}
    {% if lens_type.name in request.session %}
        <tr>
            <td style="padding-bottom:1em; font-size:1.5em;">
                {{ lens_type.name }}
            </td>
            <td style="padding-bottom:1em; font-size:1.5em;">
                {% if user_selection_prices.lens_type or user_selection_prices.lens_type == 0.00 %}
                    <span style="color:green">{% if user_selection_prices.lens_type == 0.00 %}INCLUDED{% else %}${{ user_selection_prices.lens_type }}{% endif %}</span>
                {% else %}
                    <span style="color:green">{% if lens_type.retail_price == 0.00 %}INCLUDED{% else %}${{ lens_type.retail_price }}{% endif %}</span>
                {% endif %}
            </td>
            <td style="padding-bottom:1em; font-size:1.5em;">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no_{{ lens_type.name }}" value="true">
                    <button type="submit" class="btn close" aria-label="remove"><span style="font-size:2em;">&times;</span></button>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}