{% load static %}
{% if lens_packages %}
    <tr>
        <td>
            <div style="float:left; display:block">
                <h2>Lens Packages</h2>
                {% for lens_package in lens_package %}
                    {% if lens_package.name not in request.session %}
                        <div style="float: left; padding-top: 1em; padding-right:1em;">
                            <h4>{{ lens_package.name }}</h4>
                            <form action="/" method="POST" style="padding-right:1em;">
                                {% csrf_token %}
                                <input type="hidden" name="{{ lens_package.name }}" value="true">
                                {% if lens_package.uploaded_img %}
                                    <input type="image" src="{{ lens_package.uploaded_img.url }}" alt="{{ lens_package.name }}" style="max-height: 167px; max-width:300px;" />
                                {% elif lens_package.static_img_url %}
                                    <input type="image" src="{% static 'img/'|add:lens_type.static_img_url %}" alt="{{ lens_package.name }}" style="max-height: 167px; max-width:300px;" />
                                {% else %}
                                    <input type="image" src="" alt="Lens Package" style="max-height: 167px; max-width:300px;" />
                                {% endif %}
                            </form>
                            <p>{{ lens_package.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </td>
    </tr>
{% endif %}