{% load static %}
<tr>
    <th>Lens Designs</th>
</tr>
{% if request.session.no_lens_designs %}
    <tr>
        <td style="padding-bottom:1em">
            No lens designs
        </td>
        <td style="padding-bottom:1em">
            <span style="color:green">0.00</span>
        </td>
        <td style="padding-bottom:1em">
            <form action="/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="reset_lens_designs" value="true">
                <button type="submit" class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
            </form>
        </td>
    </tr>
{% else %}
    {% for lens_design in lens_designs %}
        {% if lens_design.name in request.session %}
            <tr>
                <td style="padding-bottom:1em">
                    {{ lens_design.name }}
                </td>
                <td style="padding-bottom:1em">
                    <span style="color:green">{% if lens_design.retail_price == 0.00 %}FREE{% else %}${{ lens_design.retail_price }}{% endif %}</span>
                </td>
                <td style="padding-bottom:1em">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="no_{{ lens_design.name }}" value="true">
                        <button type="submit"  class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
                    </form>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endif %}