{% load static %}
<tr>
    <th>Lens Add-Ons</th>
</tr>
{% if request.session.no_lens_add_ons %}
    <tr>
        <td style="padding-bottom:1em">
            No lens add-ons
        </td>
        <td style="padding-bottom:1em">
            <span style="color:green">0.00</span>
        </td>
        <td style="padding-bottom:1em">
            <form action="/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="reset_lens_add_ons" value="true">
                <button type="submit" class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
            </form>
        </td>
    </tr>
{% else %}
    {% for lens_add_on in lens_add_ons %}
        {% if lens_add_on.name in request.session %}
            <tr>
                <td style="padding-bottom:1em">
                    {{ lens_add_on.name }}
                </td>
                <td style="padding-bottom:1em">
                    <span style="color:green">{% if lens_add_on.retail_price == 0.00 %}FREE{% else %}${{ lens_add_on.retail_price }}{% endif %}</span>
                </td>
                <td style="padding-bottom:1em">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="no_{{ lens_add_on.name }}" value="true">
                        <button type="submit" class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
                    </form>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endif %}