{% load static %}
{% if lens_materials %}
    <div class="container-fluid">
        <div class="row">
            <h2>Lens Materials</h2>
        </div>
        <div class="row">
            {% if lens_material_choices %}
                {% for item in lens_material_choices %}
                    {% if item.lens_material %}
                        {% if item.lens_material.name not in request.session %}
                            <div style="float: left; width: 300px; padding-top:1em; padding-bottom:1em; padding-right:1em;">
                                <div style="color:gray; font-size: 1.1em;">{{ item.lens_material.name }}</div>
                                <div style="color:green; font-size: 1.1em;">{% if item.lens_material.retail_price == 0.00 %}FREE{% else %}${{ item.lens_material.retail_price }}{% endif %}</div>
                                <form action="/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="{{ item.lens_material.name }}" value="true">
                                    {% if item.lens_material.uploaded_img %}
                                        <input type="image" src="{{ item.lens_material.uploaded_img.url }}" alt="{{ item.lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                    {% elif item.lens_material.static_img_url %}
                                        <input type="image" src="{% static 'img/'|add:item.lens_material.static_img_url %}" alt="{{ item.lens_material.name }}" style="max-height: 167px; max-width:300px;" />
                                    {% else %}
                                        <input type="image" src="" alt="Lens Material" style="max-height: 167px; max-width:300px;" />
                                    {% endif %}
                                </form>
                                <div>{{ item.lens_material.description }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <p>No matching Lens Materials</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}