{% load static %}
<tr>
    <th>Lens Types</th>
</tr>
{% for lens_type in lens_types %}
    {% if lens_type.name in request.session %}
        <tr>
            <td style="padding-bottom:1em">
                {{ lens_type.name }}
            </td>
            <td style="padding-bottom:1em">
                <span style="color:green">{% if lens_type.retail_price == 0.00 %}FREE{% else %}${{ lens_type.retail_price }}{% endif %}</span>
            </td>
            <td style="padding-bottom:1em">
                <form action="/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no_{{ lens_type.name }}" value="true">
                    <button type="submit" class="btn close" aria-label="remove"><span aria-hidden="true">&times;</span></button>
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}