{% load static %}
{% if magnification_levels %}
    <div class="container-fluid">
        <div class="row">
            <h2>Magnification</h2>
        </div>
        <div class="row">
            {% for magnification_level in magnification_levels %}
                {% if magnification_level.name not in request.session %}
                    <div style="float: left; width: 300px; padding-top: 1em; padding-bottom:1em; padding-right:1em;">
                        <div style="color:green; font-size: 1.1em;">{% if magnification_level.retail_price == 0.00 %}{% else %}${{ magnification_level.retail_price }}{% endif %}</div>
                        <form type="hidden" action="/" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="{{ magnification_level.name }}" value="true">
                            <input type="submit" value="{{ magnification_level.name }}" class="btn btn-primary btn-lg" />
                        </form>
                        <div>{{ magnification_level.description }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}