{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">Customize your Lenses</h6>
        <!--
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="
            {% if 'lens_single_vision' in request.session or 'lens_bifocal' in request.session or 'lens_trifocal' in request.session or 'lens_progressive' in request.session %}
                width: 30%;
            {% else %}
                width: 0%;
            {% endif %}
            " aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        -->
    </div>
    <div class="card-body">
        <row>
            <table>
                {% if not request.session.lens_type_selected %}
                    {% include 'includes/lens_type_selection.html' %}
                {% elif request.session.lens_type_selected and not request.session.lens_material_selected %}
                    {% include 'includes/lens_material_selection.html' %}
                {% elif request.session.lens_type_selected and request.session.lens_material_selected and not request.session.lens_add_on_selected %}
                    {% include 'includes/lens_add_on_selection.html' %}
                {% elif request.session.lens_type_selected and request.session.lens_material_selected and request.session.lens_add_on_selected and not request.session.lens_package_selected %}
                    {% include 'includes/lens_package_selection.html' %}
                {% endif %}
            </table>
        </row>
    </div>
</div>