{% load static %}
{% block sidemenu %}

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./manager">
            <div class="sidebar-brand-text mx-3">
                <img src="/static/img/VisionNow_White_kiosk_size.png" alt="Your Vision Now" />
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Orders -->
        <li class="nav-item active">
            <a class="nav-link" href="/manager">
                <i class="fas fa-fw fa-table"></i>
                <span>Orders</span></a>
        </li>
        <!-- Nav Item - Lens Packages -->
        <li class="nav-item active">
            <a class="nav-link" href="/manager/lens_packages">
                <i class="fas fa-fw fa-table"></i>
                <span>Lens Packages</span></a>
        </li>
        <!-- Nav Item - Go Back -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Go Back</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

    </ul>
    <!-- End of Sidebar -->

{% endblock %}
