{% load static %}
{% load space_to_newline %}
{% block pagecontent %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        {% if orders %}
            <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Order Notes</th>
                                        <th>Time Submitted</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Order Notes</th>
                                        <th>Time Submitted</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                {% if order.customer.first_name %}
                                                    {{ order.customer.first_name }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.customer.last_name %}
                                                    {{ order.customer.last_name }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.customer.email %}
                                                    {{ order.customer.email }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.notes %}
                                                    {{ order.notes|space_to_newline }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.created_at %}
                                                    {{ order.created_at }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        {% else %}
            <h3>No Orders</h3>
        {% endif %}

    </div>
    <!-- /.container-fluid -->

{% endblock %}