{% load static %}
{% if request.session.keys %}
    {% if request.session.lens_type_selected or request.session.lens_material_selected or request.session.lens_add_on_selected or request.session.lens_design_selected %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Your selections</h6>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <div id="card_body_content_wrapper">
                    {% include 'includes/selections_table.html' %}
                    {% include 'includes/im_done_button.html' %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}